body{
    color: #070707;
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 300;

    padding: 0px;
}

/* HEADINGS */
h2{
    font-weight: 600;
    font-size: 2em;
}

h3{
    font-weight: 600;
    font-size: 1.2em;
}

/* NAVBAR */
.navbar-brand{
    font-size: 16px;
    padding: 8px 0px;
}

.navbar-nav{
    padding-left: 20px;
}

.nav-item{
    font-weight: 300;
}

.nav-item.active{
    font-weight: 600;
}


/* FOOTER */
#footer{
    font-size: 12px;

    margin-top: 50px;
    bottom: 0px;
    border-top: 1px solid #ccc;
    padding: 10px 0px;
}